doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Participe da comunidade paranaense de desenvolvedores!
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700", rel="stylesheet", type="text/css")
    link(href="css/main.css", rel="stylesheet", type="text/css")
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  body
    .main
      .title
        a(href="http://www.devparana.org/" target="_blank")
          img(src="images/logo.png", alt="Devparaná logo")
        h1 Devparaná
        p faça parte da comunidade paranaense de desenvolvedores, cadastre-se em nosso slack!
      .form
        form(method="POST", action="/invite")#join-form
          input(type="ZW1haWw=", name="ZW1haWw=", placeholder="fulano@ciclano.com").field
          input(type="submit", value="cadastrar").submit
          p ou faça
            a(href="https://devparana.slack.com" target="_blank").login login.
          label(for="email").hp
          input(type="email", name="email", autocomplete="off", placeholder="fulano@ciclano.com")#email.hp
      .social
        a(href="https://www.facebook.com/DeveloperParana" target="_blank").icon-facebook
        a(href="https://twitter.com/DeveloperParana" target="_blank").icon-twitter
        a(href="https://github.com/DeveloperParana" target="_blank").icon-github
      .footer
        p de devs para devs
          i.icon-heart
  script.
    var $form = document.getElementById('join-form');
    $form.addEventListener('submit', function(evt) {
      var e = $form.querySelector('[name="ZW1haWw="]')
      var d = $form.querySelector('#email')
      if (!e.value || d.value) {
        evt.preventDefault();
      }
    });
