doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Participe da comunidade paranaense de desenvolvedores!
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700", rel="stylesheet", type="text/css")
    link(href="css/main.css", rel="stylesheet", type="text/css")
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  body

    .main
      .title
        a(href="http://www.devparana.org/" target="_blank")
          img(src="images/logo.png", alt="Devparaná logo")
        h1 Devparaná
        p faça parte da comunidade paranaense de desenvolvedores, cadastre-se em nosso slack!
      .form
        h2= message

        form
          p faça 
            a(href="https://devparana.slack.com" target="_blank") login.

      .social
        a(href="https://www.facebook.com/DeveloperParana" target="_blank").icon-facebook
        a(href="https://twitter.com/DeveloperParana" target="_blank").icon-twitter
        a(href="https://github.com/DeveloperParana" target="_blank").icon-github
      .footer
        p de devs para devs
          i.icon-heart

